.star {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0); /* ค่าเริ่มต้นสำหรับ Dark Mode */
    animation: twinkle 5s linear infinite; /* Animation สำหรับ Dark Mode */
  }
  
  :where(.dark) .star {
    background: rgba(0, 0, 0, 0); /* ค่าเริ่มต้นสำหรับ Light Mode */
    animation: twinkleLight 5s linear infinite; /* Animation สำหรับ Light Mode */
  }
  
  /* Animation สำหรับ Dark Mode (สีขาว) */
  @keyframes twinkle {
    0% {
      transform: scale(1, 1);
      background: rgba(255, 255, 255, 0);
      animation-timing-function: linear;
    }
    40% {
      transform: scale(0.8, 0.8);
      background: rgba(255, 255, 255, 1);
      animation-timing-function: ease-out;
    }
    80% {
      transform: scale(1, 1);
      background: rgba(255, 255, 255, 0);
    }
    100% {
      transform: scale(1, 1);
      background: rgba(255, 255, 255, 0);
    }
  }
  
  /* Animation สำหรับ Light Mode (สีดำ) */
  @keyframes twinkleLight {
    0% {
      transform: scale(1, 1);
      background: rgba(0, 0, 0, 0);
      animation-timing-function: linear;
    }
    40% {
      transform: scale(0.8, 0.8);
      background: rgba(0, 0, 0, 0.9);
      animation-timing-function: ease-out;
    }
    80% {
      transform: scale(1, 1);
      background: rgba(0, 0, 0, 0);
    }
    100% {
      transform: scale(1, 1);
      background: rgba(0, 0, 0, 0);
    }
  }